/* =======================================================================
Shell
========================================================================== */
.container {}

main {
	@include clearfix;
	width: 100vw;
	height: calc(100vh - 50px);
	position: relative;
}

.quiz__container {
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	align-items: stretch;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.4s ease-in-out;
	opacity: 0;

	&:first-child { display: block; }

	&.active {
		opacity: 1;
	}
}

.quiz__list {
	display: flex;
	min-height: 100px;
	background-color: rgba(64, 64, 128, 0.7);
	margin-bottom: 10px;
}

.quiz__dropbox {
	display: flex;
	width: 300px;
	height: 400px;
	background-color: rgba(64, 64, 128, 0.7);
	margin: 0 auto;
}

/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */
.quiz__item,
.gu-mirror {
	margin: 10px;
	transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

	&.hide { transform: scale(0); }
}

.quiz__item {
	cursor: move;
	cursor: grab;

	img { width: 100px; }
}

.gu-mirror {
	cursor: grabbing;
}



/* =======================================================================
Header
========================================================================== */
.banner {
	height: 50px;

	.quiz__reset {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.dndq__logo {
	position: absolute;
	top: 0;
	left: 0;
}


/* =======================================================================
Footer
========================================================================== */
.footer {}


/* =======================================================================
Nav
========================================================================== */
.primary-nav {}
