#plate-dropzone {
    width: 500px;
    height: 140px;
}

#grate-dropzone {
    width: 100px;
    height: 200px;
}

.dropzone,
.hoverzone {
    background-color: #ccc;
    margin: 10px auto 30px;
    // transition: background-color 0.3s;
}

.drop-active {
    background-color: #aaa;
}

.drop-target {
    background-color: #e92;
}

.drag-drop {
    display: inline-block;
    min-width: 40px;
    color: #fff;
    border: solid 2px #29e;
    transform: translate(0px, 0px);
    transition: border-color 0.3s;
}

.drag-drop.can-drop {
    color: #000;
    border-color: #4e4;
}
